body {
 background-color: #f5f2ec;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.footer {
    padding: 20px 0;
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: #6c757d;
}
.footer a {
    color: #007bff;
    text-decoration: none;
}