---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	description?: string;
	canonical?: string;
}

const {
	title,
	description = "Focusing on publishing information about Chinese entertainment products.",
	canonical,
} = Astro.props;

const canonicalURL = canonical || new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/webp" href="/favicon.webp" />
		<link rel="canonical" href={canonicalURL} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- Google AdSense -->
		<script
			async
			src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7416308426819679"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 66, 60, 56;
		--accent-light: 234, 224, 200;
		--accent-dark: 38, 34, 32;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #eae0c8;
		color: #333;
	}
	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
	main {
		flex: 1;
		max-width: 1200px;
		margin: 0 auto;
		padding: 2rem 1rem;
		width: 100%;
		box-sizing: border-box;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
