---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import Navbar from '../../../components/Navbar.astro';
import ArticleCatalog from '../../../components/ArticleCatalog.astro';

// 当前分类
const category = 'culture';

// 获取该分类下的所有中文文章
const articlesByCategory = await getCollection('articles', ({ data }) => {
  return data.category === category && data.lang === 'zh' && !data.draft;
});

// 排序
articlesByCategory.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());

// 分页设置
const articlesPerPage = 10;
---

<BaseLayout
  title="OmniNav - 多元文化艺术探索中心 | 精选小说、诗歌、影视、音乐、动漫与游戏"
  description="OmniNav 是您的多元文化艺术探索中心，智能推荐精选的优质小说、经典诗歌、热门影视作品、动听音乐、流行动漫和各类精彩游戏等文化内容，助您轻松发现和欣赏不同艺术领域的杰出作品，丰富您的文化生活，开启您的精彩文化探索之旅！"
  lang="zh"
>
    <Navbar />
    <main>
        <div class="container">
            <ArticleCatalog 
              articles={articlesByCategory} 
              category={category} 
              page={1} 
              articlesPerPage={articlesPerPage} 
              lang="zh" 
            />
        </div>
    </main>
</BaseLayout>